<section>
  <!--  <h2>Get All Makes for {{this.emailAddress}}</h2>-->
  <button (click)="getModels()">Get All Models</button>
</section>

<div *ngIf="models">
  <h4>All Models</h4>
  <ul>
    <li *ngFor="let model of models">
      <p>{{model.name}}</p>
      Miles: {{model.miles}}
      <br>Price: ${{model.price}}
      <br>
<!--      <button (click)="deleteModel(model)">delete</button>-->

<!--      <ul *ngFor="let make of makes">-->
<!--        <li *ngFor="let model of make.modelList">-->
<!--          {{model.name}}-->
<!--      </ul>-->
    </li>
  </ul>
  <h4>Create New Model</h4>
  <form (submit)="createModel()">
    <input [(ngModel)]="modelName" name="modelName" type="text" placeholder="Name" />
    <input [(ngModel)]="miles" name="modelMiles" type="text" placeholder="Miles" />
    <input [(ngModel)]="price" name="modelPrice" type="text" placeholder="Price" />
    <input type="submit"/>
  </form>
</div>

<body>
<img src="https://www.titlemax.com/media/most-common-car-models-ranked-by-insurance-losses-6_75per.png">
</body>
