<section>
  <!--  <h2>Get All Makes for {{this.emailAddress}}</h2>-->
  <button (click)="getMakes()">Get All Makes</button>
</section>

<div *ngIf="makes">
  <h4>All Makes</h4>
  <ul>
    <li *ngFor="let make of makes">
      {{make.name}} -- {{make.description}}
      <button (click)="deleteMake(make)">delete</button>
      <form (submit)="createModel(make)">
        <input [(ngModel)]="modelName" name="modelName" type="text" placeholder="new model"/>
        <input type="submit"/>
      </form>
    </li>
  </ul>
</div>
