<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="/">...                        Car Dealership</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/makes">All Makes</a></li>
      <li><a routerLink="/models">All Models</a></li>

      <span *ngIf="!this.currentUser">
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/login">Login</a></li>
      </span>
      <span *ngIf="this.currentUser">
        <li><a routerLink="/logout">Log out</a></li>
        <li>Hello, {{this.currentUser}}</li>
      </span>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<body>
<div class="something">
  <input type="search" id="search" placeholder="Search" />
</div>
<!--<form>-->
<!--  <input class="searchbox" type="text" placeholder="Search..">-->
<!--  <button class="submitbutton" type="submit">Submit</button>-->
<!--</form>-->
<img src="https://www.enterprise.com/content/dam/ent-brand/car-sales-hand-shake.jpg.wrend.640.360.jpeg">
</body>
<img src="https://tpc.googlesyndication.com/simgad/9418678261073230052?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qlqG6rHkJW12azQIRuctmIaj5XqJg">

<div class="box">
  <div class="one" style="font-size: x-large">
    <img src="https://www.cstatic-images.com/supersized/in/v1/1490812/JN8AS5MV1BW660988/9824850e5ba1281e95b340b3b0ca8c82.jpg">
  </div>
  <div class="two" style="font-size: x-large">
    <img src="https://www.cstatic-images.com/supersized/in/v1/418071/2G61M5S32J9150585/41f233a1205c887359f6fab3559064e5.jpg">
  </div>
  <div class="three" style="font-size: x-large">
    <img src="">
  </div>
</div>

<footer>
  <div class="box">
    <div class="one" style="font-size: x-large">
      Our Company
      <br>About Cars.com
      <br>Investor Relations
      <br>Contact CarDealership.com
      <br>Mobile Apps
      <br>Site Map
      <br>Careers
      <br>Fraud Awareness
      <br>Licensing & Reprints
    </div>
    <div class="two" style="font-size: x-large">
      Buying & Selling
      <br>Find a Car
      <br>Certified Pre-Owned
      <br>Sell Your Car
      <br>Car Book Values
      <br>Car Dealers
      <br>Compare Car Prices
      <br>Listings by City
      <br>Advertisers
    </div>
    <div class="three" style="font-size: x-large">
      Our Partners
      <br>Cars.com
      <br>Auto.com
      <br>NewCars.com
    </div>
  </div>
</footer>
