<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="/">...                        Car Dealership</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/makes">All Makes</a></li>
      <li><a routerLink="/models">All Models</a></li>

      <span *ngIf="!this.currentUser">
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/login">Login</a></li>
      </span>
      <span *ngIf="this.currentUser">
        <li><a routerLink="/logout">Log out</a></li>
        <li>Hello, {{this.currentUser}}</li>
      </span>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<body>
<img src="https://www.enterprise.com/content/dam/ent-brand/car-sales-hand-shake.jpg.wrend.640.360.jpeg">
</body>
